.table {
    margin: auto;
}

table tr {
    text-align: center;
}

table th {
    cursor: pointer;
    user-select: none;
}

#th-0, #th-4{
  cursor: default;
}

Button i {
    margin-left: 5px;
}

.btn,
.btn:hover,
.btn:focus {
    background-color: #7749f8;
}

.btn {
    outline: 0px;
}

.btn:hover {
    color: black;
}

.btn:focus {
    box-shadow: none;
}

td img{
  height: 50px;
  width: auto;
}

.caret-icons{
  display: flex;
}





