.outer-row {
  margin-bottom: 20px;
}

.root-container {
  width: 1338px;
  height: 597px;
  padding-left: 57px;
  background-color: #2f343f;
  padding-top: 25px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.popup-content {
  margin: auto;
  background-color: #2F343F;
  width: 50%;
  padding: 27px;
}

.dealdiv:hover{
  background-color: #3b404d;
  box-shadow: 3px 3px 10px black;
}

.close {
  cursor: pointer;
  position: absolute;
  padding: 2px 5px;
  right: -10px;
  top: -10px;
  background: none;
  box-shadow: none;
  border: none;
  font-size: 24px;
}

#store {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
  padding-left: 18px;
  padding-bottom: 9px;
}

#showmore {
  width: 126px;
  margin: 0 auto;
}