.deal-list-element-root {
    width: auto;
    height: 129px;
    cursor: pointer;
}

.deal-list-element-root:hover{
    background-color: #3f4655;
}

h1{
    color: white;
}

.thumbnail{
    width: 86px;
    height: 111px;
}

.col-4{
    padding-top: 10px;
    padding-left: 0px;
}

.container price-root text-light{
    margin-left: 0px;
}