.loaderrorlogo{
    font-size:200px;
}

.loaderror-root{
    width: 500px;
    height: 300px;
}

@media screen and (max-width:374px) {
    .loaderrorlogo {font-size:180px;}
    .loaderrortext {font-size: 15px}
}