.logo{
  height: 50px;
  width: 230px;
}

.logo2{
  height: 40px;
  display: none;
  width: auto;
}

@media screen and (max-width:991px) {
  .logo{display: none;}
  .logo2{display: block;}
  .labelBotonWebsite{display: none;}
  }
